<footer class="mt-auto border-t border-gray-200 bg-white px-4 py-6 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between max-w-7xl mx-auto">
        <div class="flex justify-center space-x-6 md:order-2">
            <a href="#" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Support</span>
                Support
            </a>
            <a href="#" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Documentation API</span>
                Documentation API
            </a>
        </div>
        <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-xs leading-5 text-gray-500">
                &copy; {% now "Y" %} DEKOUWAY, Inc. Tous droits réservés. v1.0.0
            </p>
        </div>
    </div>
</footer>
