{% extends "layouts/auth_layout.html" %}

{% block title %}Nouveau Mot de Passe - DEKOUWAY{% endblock %}

{% block content %}
    {% include "components/auth/auth_header.html" with title="Nouveau mot de passe" subtitle="Veuillez choisir un nouveau mot de passe sécurisé pour votre compte." %}
    
    <form method="POST" class="mt-8 space-y-6">
        {% csrf_token %}
        
        <div x-data="{ show: false }">
            {% include "components/forms/input_password.html" with id="id_new_password1" name="new_password1" label="Nouveau mot de passe" minlength=8 required=True %}
        </div>

        <div x-data="{ show: false }">
            {% include "components/forms/input_password.html" with id="id_new_password2" name="new_password2" label="Confirmer le nouveau mot de passe" minlength=8 required=True %}
        </div>
        
        <div>
            <button type="submit" class="w-full flex justify-center rounded-lg bg-[#8B1E24] px-4 py-3 text-sm font-semibold text-white shadow-xs hover:bg-[#6F171C] transition-colors">
                Enregistrer le mot de passe
            </button>
        </div>
    </form>
{% endblock %}
